.border {
  border: 1px solid;
}
.shadow {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.line {
  &::after {
    content: "";
    position: absolute;
    width: 70%;
    background-color: var(--theme-color);
    height: 4px;
    border-radius: 50px;
    left: 0;
    bottom: -8px;
    // transition: 0.4s;
  }
}
