<div class="bg-[color:var(--bg-color)] w-full flex flex-col items-center">
  <h1
    class="text-[35px] w-full text-center md:text-[45px] mt-6 text-[color:var(--dark-txt)] font-[700]"
  >
    <span class="line2 relative"> About </span>
  </h1>
  <div
    class="flex shadow rounded-[5px] lg:flex-row flex-col items-center justify-between my-16 p-10 bg-white w-[90%]"
  >
    <!-- left -->
    <div
      class="w-full xl:w-[53%] mb-14 xl:mb-0 flex flex-col items-center relative"
    >
      <!-- profile images and info -->
      <div
        class="w-full flex sm:flex-row flex-col items-center sm:items-start justify-between"
      >
        <div class="sm:w-[30%] mb-5 sm:mb-0">
          <img
            src="/assets/images/profile.jpeg"
            class="w-auto h-full rounded-[5px]"
            alt=""
          />
        </div>
        <div class="sm:w-[65%] w-full">
          <div class="w-full flex items-center break-all my-1">
            <h1 class="text-[18px] font-[600] text-[color:var(--dark-txt)]">
              Name : &nbsp;
            </h1>
            <p class="text-[16px] text-[color:var(--light-txt)]">
              Harsh Kumar Rajbhar
            </p>
          </div>
          <div class="w-full flex items-center break-all my-2">
            <h1 class="text-[18px] font-[600] text-[color:var(--dark-txt)]">
              Profile : &nbsp;
            </h1>
            <p class="text-[16px] text-[color:var(--light-txt)]">
              Front-end Developer
            </p>
          </div>
          <div class="w-full flex items-center break-all my-2">
            <h1 class="text-[18px] font-[600] text-[color:var(--dark-txt)]">
              Email : &nbsp;
            </h1>
            <p
              class="text-[16px] md:text-justify xl:text-start text-[color:var(--light-txt)]"
            >
              hkrajbhar2002@gmail.com
            </p>
          </div>
          <div class="w-full flex items-center break-all my-2">
            <h1 class="text-[18px] font-[600] text-[color:var(--dark-txt)]">
              Phone : &nbsp;
            </h1>
            <p class="text-[16px] text-[color:var(--light-txt)]">
              (+91)886-612-8435
            </p>
          </div>
        </div>
      </div>
      <!-- about -->
      <div class="w-full mt-10">
        <h1 class="text-[20px] mb-5 font-[500] text-[color:var(--dark-txt)]">
          <span class="line relative"> About me </span>
        </h1>
        <p class="sm:w-[85%] text-[14px] w-full text-justify">
          A Front-End Developer is a web developer who focuses explicitly on
          coding the front-end (user interface) of a website. Front-End
          Developers design and develop websites and web applications by using
          web technologies such as HTML, CSS, DOM, and JavaScript, that either
          run on the Open Web Platform or function as compilation input for
          non-web platform environments like React Native.
        </p>
        <button class="mt-7 p-3">
          <a
            class=" "
            href="/assets/document/Harsh_Rajbhar_Resume_2023.pdf"
            download="Harsh_Rajbhar_resume.pdf"
            >Download My Resume</a
          >
        </button>
      </div>
    </div>
    <!-- Right side -->
    <div class="w-full xl:w-[46%]">
      <!-- skills -->
      <div class="w-full">
        <h1 class="text-[20px] mb-5 font-[500] text-[color:var(--dark-txt)]">
          <span class="line relative"> Skill </span>
        </h1>
        <div class="w-full my-4">
          <p class="text-[color:var(--light-txt)]">HTML5 100%</p>
          <span
            class="h-4 mt-2 w-[100%] bg-[color:var(--theme-color)] block"
          ></span>
        </div>
        <div class="w-full my-4">
          <p class="text-[color:var(--light-txt)]">CSS3 80%</p>
          <div class="w-full flex">
            <span
              class="h-4 mt-2 w-[80%] bg-[color:var(--theme-color)] block"
            ></span>
            <span class="h-4 mt-2 w-[20%] bg-[#cde1f8] block"></span>
          </div>
        </div>
        <div class="w-full my-4">
          <p class="text-[color:var(--light-txt)]">JAVASCRIPT 50%</p>
          <div class="w-full flex">
            <span
              class="h-4 mt-2 w-[50%] bg-[color:var(--theme-color)] block"
            ></span>
            <span class="h-4 mt-2 w-[50%] bg-[#cde1f8] block"></span>
          </div>
        </div>
        <div class="w-full my-4">
          <p class="text-[color:var(--light-txt)]">ANGULAR 70%</p>
          <div class="w-full flex">
            <span
              class="h-4 mt-2 w-[70%] bg-[color:var(--theme-color)] block"
            ></span>
            <span class="h-4 mt-2 w-[30%] bg-[#cde1f8] block"></span>
          </div>
        </div>
        <div class="w-full my-4">
          <p class="text-[color:var(--light-txt)]">TAILWIND CSS 90%</p>
          <div class="w-full flex">
            <span
              class="h-4 mt-2 w-[90%] bg-[color:var(--theme-color)] block"
            ></span>
            <span class="h-4 mt-2 w-[10%] bg-[#cde1f8] block"></span>
          </div>
        </div>
        <div class="w-full my-4">
          <p class="text-[color:var(--light-txt)]">BOOTSTRAP 60%</p>
          <div class="w-full flex">
            <span
              class="h-4 mt-2 w-[60%] bg-[color:var(--theme-color)] block"
            ></span>
            <span class="h-4 mt-2 w-[40%] bg-[#cde1f8] block"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
