.line {
  &::after {
    content: "";
    position: absolute;
    width: 40%;
    background-color: var(--theme-color);
    height: 6px;
    border-radius: 50px;
    left: 30%;
    right: 30%;

    bottom: -12px;
    // transition: 0.4s;
  }
}

.border {
  border: 1px solid;
}
