.line {
  &::after {
    content: "";
    position: absolute;
    width: 65%;
    background-color: var(--theme-color);
    height: 5px;
    border-radius: 50px;
    left: 2px;
    bottom: -10px;
    // transition: 0.4s;
  }
}

.border {
  border: 1px solid #ced4da;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.shadow {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.btn {
  background: #0078ff;
  padding: 15px 20px;
  text-align: center;
  color: white;
  border-radius: 50px;
  transition: 0.5s all ease-in-out;

  &:hover {
    // background: #238affec;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  }
}
